<suite name="WeatherAndAdvice">
    <test name="API">
        <classes>
            <class name="tests.API.GetValidLocationWeather"></class>
            <class name="tests.API.GetInvalidAccessKeySent"></class>
            <class name="tests.API.GetInvalidLocationWeather"></class>
            <class name="tests.API.GetNoAccessKeySent"></class>
            <class name="tests.API.GetNoQuerySent"></class>
            <class name="tests.API.GetRandomAdvice"></class>
            <class name="tests.API.GetRandomAdviceIncorrectFieldName"></class>
        </classes>
    </test>
</suite>
